.home-container {
    position: relative;
    height: 60vh; /* Full viewport height */
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .home-background {
    
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Default text color */
    text-align: center;
    padding: 0 20px;
    transition: color 0.3s ease; /* Smooth transition for text color */
  }
  
  .home-content {
    max-width: 600px;
    margin: 0 auto;
    .tex{
      color: white;
      text-shadow: 5px 5px 5px rgba(4,4,4,10);
    }
    .tex2{
      color: white;
      font-weight: bolder;
      text-shadow: black;
    }
  }
  
  .home-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .home-content p {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  
  .home-content h1 span {
    display: inline-block;
    transition: color 0.3s ease; /* Smooth transition for color */
  }
  
  /* Static part of the text */
  .home-content h1 span.static {
    color: #fff; /* White color for static part */
  }
  
  /* Hover effect for the 'Welcome' text */
  .home-content h1 span.hover {
    color: #ff6600; /* Orange color for hovered part */
  }
  
  /* Button styles */
  .properties-button {
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background color and text color */
  }
  
  .properties-button:hover {
    background-color: #043972; /* Darker shade of primary color for hover effect */
    color: #fff; /* Ensure text remains readable */
  }
  